@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    background-size: cover;
    color:black;
    padding:40px;
    border-bottom:5px solid #6f6f6f;
}
header h1 {
    font-family: 'playfair display', sans-serif;
    font-size: 50px;
}

header h4 {
    font-size: 20px;
    text-align:center;
    border-bottom:1px solid gray;
    margin-top: -20px;
    margin-bottom :-20px;
}

nav {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom:5px solid #6f6f6f;
    padding: 10px;
}

nav h1 {
    color:#717171;
    font-family: 'playfair display', sans-serif;
    font-size: 30px;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 300px;
}

nav .onglets a {
    text-decoration:none;
    color:black;
    margin-right:10px;
    border-bottom:1px solid black;
    padding-bottom:2px;
}

.main {
    margin-top:40px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.main .content .card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .content .card .left {
    flex:0 0 30%;
    padding:40px;
    background-color: black;
    color:white;
    height:100%;
}

.main .content .card .rigjht{
    flex:0 0 70%;
}

.main .content .card .right img {
    height:100%;
    width:400px;
}

footer {
    margin-top:40px;
    border-top: 5px solid #6f6f6f;
    background-color:black;
    color:white;
    padding: 30px 100px;
    text-align:center;
}

footer .MENU {
    margin-top: -10px;
    display:flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content:center;
}

footer .MENU .MENU a {
    margin-right: 30px;
    padding:10px;
    font-size: xx-large;
    color:white;
    text-decoration: none;
}

footer .mon_logo {
    width:50px;
}

footer #contact {
    color:grey;
    vertical-align:middle;
}

@media screen and (max-width:600px){

    body {
        width: 100%;
    }
    header{
        height: 200PX;       
        font-size: x-small;
        }

    header .logo {
        margin-top: -20px;
        width:80%;
    }

    header h1 {
        font-size:large;
        text-align: center;
    }

    header h4 {
        font-size:large;
        margin-bottom : 50px;
    }

    nav .onglets{
        margin-left:0px;
        margin-bottom:10px; 
    }
    .main .card{
        margin:10px;
    }
    .main .content .card .right img{
        height:200px;
        width:100%;
        margin-top:0px;
    }

    .main .content .card {
        display:block;
    }

    footer .MENU {
       margin: 1px;
       flex-direction: column;        
    }

    footer {
        padding:30px;
    }

    footer .MENU .MENU {
        display: block;
    }

    footer .MENU .MENU a {
        font-size: small;
    }
    footer #contact {
        margin: 50px;
        text-align: center;
    }
}

